.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  
  min-height: 1360px;
  width: 100%;
  
}

.u-section-1 .u-group-1 {
  
  height: 102px;
  
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: auto ;
  margin-right: auto ;
  width: 95%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  width: 150px;
  height: 55px;
  padding: 10px auto 10px auto;
  display: inline-block;
  font-size: 1.25rem;
  background-image: none;
  margin: auto auto auto 18%;
  
}

.u-section-1 .u-btn-2 {
  display: inline-block;
  font-size: 1.25rem;
  background-image: none;
  margin: auto auto auto 8%;
  width: 150px;
  height: 55px;
  padding: 10px auto 10px auto;
}

.u-section-1 .u-form-1 {
  display: inline-block;
  float: right;
  width: 25%;
  height: 50%;
  margin-right:18%;
  top: 25%;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-btn-3 {
  padding: 24px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 99%;
  margin: 20px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1218px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 5px;
}

.u-section-1 .u-group-2 {
  width: 500px;
  min-height: 60px;
  height: auto;
  margin: 3px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 100%;
  min-height: 80px;
  height: auto;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  
  padding: 0 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 4px auto 0 30px;
  padding: 24px 55px 24px 54px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -69px auto 0;
  padding: 24px 67px 24px 66px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -70px 30px 0 auto;
  padding: 24px 65px 24px 64px;
}

.u-section-1 .u-group-4 {
  min-height: 1000px;
  max-height: 1100px;
  margin-top: 10px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  
  padding: 30px 15px;
  overflow: auto;
  margin: 10px;
  

}

.u-section-1 .u-group-5 {
  width: 185px;
  height: 234px;
  margin: 10px ;
  display: inline-block;
  
}

.u-section-1 .u-container-layout-6 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline  ;
  margin: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 80px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px 10px 0;
}

.u-section-1 .u-btn-7 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: normal;
  margin: 10px auto 0 39px;
  padding: 6px 17px 7px 16px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1218px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 15px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-1 .u-group-6 {
  min-height: 195px;
  height: auto;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  overflow: auto;
  padding: 20px 0;
}

.u-section-1 .u-group-7 {
  width: 337px;
  height: 130px;
  height: auto;
  margin: 10px auto;
  display: block;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-8 {
  margin: -4px auto 0 224px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 2.1876em;
}

.u-section-1 .u-btn-9 {
  margin: -12px auto 0 224px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 2.1876em;
}

.u-section-1 .u-image-2 {
  width: 80px;
  height: 65px;
  margin: -79px auto 0 10px;
}

.u-section-1 .u-btn-10 {
  margin: -72px 10px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 2.8126em;
  width: 45px;
  height: 61px;
}

.u-section-1 .u-group-8 {
  min-height: 35px;
  width: 80px;
  height: auto;
  margin: -52px auto 0 115px;
}

.u-section-1 .u-container-layout-10 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 3px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 34px 1px 0 197px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline  ;
  margin: -19px 176px 0 1px;
}

.u-section-1 .u-group-9 {
  min-height: 65px;
  margin-top: 16px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px 20px 0 137px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-decoration: underline  ;
  margin: -28px auto 0 20px;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0;
  padding: 19px 51px 19px 50px;
}

@media (max-width: 1399px) {


  .u-section-1 .u-group-1 {
    
    width: 90%;
    margin-left: auto ;
  margin-right: auto ;
  
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }

 


  .u-section-1 .u-layout-cell-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -69px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

 

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-7 {
    font-weight: 700;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1178px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {

    padding-top: 15px;
    padding-bottom: 15px;
  }

 

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 230px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 230px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -49px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 140px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
    width: auto;
  }
}

@media (max-width: 1199px) {


  .u-section-1 .u-group-1 {
    width: 90%;
    
  }

  .u-section-1 .u-btn-1 {
    margin-left: 15%;
  }

  .u-section-1 .u-btn-2 {
    
    margin-left: 7%;
  }

  .u-section-1 .u-form-1 {
    margin-right: 15%;

  }



  .u-section-1 .u-layout-cell-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 8px;
    margin-left: 10px;
    padding: 19px 35px 19px 34px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -60px;
    padding: 19px 47px 19px 46px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -60px;
    margin-right: 10px;
    padding: 19px 47px 19px 46px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1238px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-group-7 {
    width: 280px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 0;
    margin-right: 57px;
    margin-left: 188px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -9px;
    margin-right: 57px;
    margin-left: 188px;
  }

  .u-section-1 .u-icon-2 {
    width: 35px;
    height: 47px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -90px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -68px;
    margin-right: 5px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -53px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 35px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 130px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -24px;
    margin-left: 10px;
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {



  .u-section-1 .u-btn-1 {
    margin-left: 8%;
  }

  .u-section-1 .u-btn-2 {
    
    margin-left: 5%;
  }

  .u-section-1 .u-form-1 {
    width: 30%;
  margin-right: 8%;
    
  }


  .u-section-1 .u-layout-cell-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-group-2 {
    width: 63px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 15px;
    padding: 14px 15px 14px 14px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -50px;
    padding: 14px 27px 14px 26px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -50px;
    padding: 14px 25px 14px 24px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    
  }

  .u-section-1 .u-group-5 {
    width: 450px;
    height: 113px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .u-section-1 .u-text-1 {
    width: 185px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 100px;
    margin-top: -33px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 185px;
    margin-top: -32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -54px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-7 {
    height: 129px;
    width: 100%;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 2px;
    margin-right: 50px;
    margin-left: 147px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 1.875em;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -10px;
    margin-right: 50px;
    margin-left: 147px;
  }

  .u-section-1 .u-icon-2 {
    font-size: 1.875em;
  }

  .u-section-1 .u-image-2 {
    width: 70px;
    height: 55px;
    margin-top: -71px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -55px;
  }

  .u-section-1 .u-icon-3 {
    font-size: 2.1876em;
  }

  .u-section-1 .u-group-8 {
    width: 60px;
    margin-top: -44px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 30px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -16px;
    margin-right: 105px;
    margin-left: 2px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 11px;
    margin-right: 7px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
    margin-top: -21px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-11 {
    padding: 16px 41px 17px 40px;
  }
}

@media (max-width: 767px) {


  .u-section-1 .u-group-1 {
    
    width: 98%;
    
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-left: 8%;
    padding: 7px auto 7px auto;
    height: 50px;
    width: 130px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
    margin-left: 5%;
    padding: 7px auto 7px auto;
    height: 50px;
    width: 130px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 8%;
    height: 90%;
    top:5%
    

  }

  .u-section-1 .u-form-group-1 {
    margin-top: 20px  ;
  }

  .u-section-1 .u-btn-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width:99%;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1245px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-text-1 {
    width: 250px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    width: 250px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1215px;
  }

  .u-section-1 .u-group-7 {
    width: 368px;
    height: 130px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 1px;
    margin-right: 89px;
    margin-left: 244px;
  }

  .u-section-1 .u-icon-1 {
    font-size: 2.1876em;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 89px;
    margin-left: 244px;
  }

  .u-section-1 .u-icon-2 {
    font-size: 2.1876em;
  }

  .u-section-1 .u-image-2 {
    width: 80px;
    height: 65px;
    margin-top: -83px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -72px;
    margin-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    font-size: 2.8126em;
  }

  .u-section-1 .u-group-8 {
    width: 80px;
    margin-top: -50px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 3px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 33px;
    margin-right: 10px;
    margin-left: 218px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: -19px;
    margin-right: 206px;
  }

  .u-section-1 .u-group-9 {
    width: 65%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-right: 23px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -28px;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 23px;
    padding: 14px 36px 14px 35px;
  }
}

@media (max-width: 575px) {


  .u-section-1 .u-group-1 {
    min-height: 170px;
    width: 90%;
    
  }

  .u-section-1 .u-btn-1 {
    
    margin-top: 20px;
    margin-left: 15%;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 15%;
    float: right;
  }

  .u-section-1 .u-form-1 {
    float: left;
    top: 0%;
    width: 50%;
    height: 50%;
    margin: 5px 25%;
    display: block;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 99%
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 16px;
    margin-left: 0;
    padding: 11px 10px 12px 9px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -45px;
    padding: 11px 22px 12px 21px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -45px;
    margin-right: 0;
    padding: 11px 20px 12px 19px;
  }

  .u-section-1 .u-group-5 {
    width: 380px;
    height: 110px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 100px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-1 {
    width: 80px;
    height: 70px;
    margin-top: -28px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -28px;
    margin-right: 100px;
    margin-left: 80px;
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.0625rem;
    margin-top: -51px;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1167px;
  }

  .u-section-1 .u-group-7 {
    width: 349px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 78px;
    margin-left: 236px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 78px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 189px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 189px;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 20px;
    margin-left: 187px;
  }
}

.form_search {
  background-color: #e0e0e4;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right:auto;
}

.search {
  all: unset;
  font: 16px system-ui;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 6px 10px;

}

.icon-button {
  background-color: transparent;
  height: 70%;
  width: 16%;
  font-size: 1em;
  border: 0px;
  cursor: pointer;
}
.icon-searsh{
  width: 100%;
  height: 100%;
}


.u-form-select-wrapper{display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  flex-grow: 1;
 
  
  position: relative;
}


.u-form-select-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


.u-form-select-wrapper .u-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
}
