{% extends 'base.html' %}
{% load static %}
{% block header %}
<title>Product Creation Form</title>


<style>
    /* CSS styles */
    body {
        font-family: Arial, sans-serif;
        background-color:#e5e5e5
    }

    form {
        margin-left: 50%;
        transform: translate(-50%);
        width: 500px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }

    input[type=text],
    input[type=number],
    input[type=password],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: white;
        font-size: 17px;
    }

    input[type=file] {
        margin-bottom: 10px;
    }

    input[type=submit] {
        background-color: #edbc0b;
        color: black;
        padding: 12px 20px;
        border: none;
        height: 50px;
        width:30%;
        cursor: pointer;
        font-size: 16px;
        border-radius: 15px;
        margin: 35px 35%;
       
    }

    input[type=submit]:hover {
        background-color: #dfb10a;
        
    }


    .preview {
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 575px) {
    form{ margin-top: 50px ;
      width: 400px;}
   
  }
</style>
{% endblock header %}
{% block body %}
      {% include 'header4.html' %}

     
      {%  if page_type %}

<!-------------------------------------------------------------------------------------------------------------------->
            <h1 style="text-align:center;" >Editer l'utilisatuer</h1>
            <form action="edit_user_submit" method="POST" id="user-form">
                {% csrf_token %}
            
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" value="{{selected_user.username}}" required>
              <div class="error" id="name-error"></div>
              
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" value="{{selected_user.password}}" required>
              <div class="error" id="password-error"></div>
              
              <label for="confirm-password">Confirm Password:</label>
              <input type="password" id="confirm-password" name="confirm-password" value="{{selected_user.password}}" required>
              <div class="error" id="confirm-password-error"></div>
              
              <label for="type">User Type:</label>
              <select id="type" name="type">
                <option value="1">Caissier Admin</option>
                <option value="2">Caissier</option>
                <option value="3">Serveur</option>
              </select>
              <script>
                // Set the default option to "Caissier"
                document.getElementById("type").value = "{{selected_user.user_type}}";
              
            </script>
            
              <input  name="user_id" value="{{selected_user.id}}" style="display: none;">
              
              <input type="submit" value="Modifier">
            </form>
          
            


<!-------------------------------------------------------------------------------------------------------------------->
         {% else %}
         <h1 style="text-align:center;" >Editer l'utilisatuer</h1>
            <form href="add_user" method="POST" id="user-form">
                {% csrf_token %}
            
              <label for="name">Name:</label>
              <input type="text" id="name" name="name"  value =" " required>
              <div class="error" id="name-error"></div>
              
              <label for="password">Password:</label>
              <input type="password" id="password" name="password"  value=" " required>
              <div class="error" id="password-error"></div>
              
              <label for="confirm-password">Confirm Password:</label>
              <input type="password" id="confirm-password" name="confirm-password"  value =""  required>
              <div class="error" id="confirm-password-error"></div>
              
              <label for="type">User Type:</label>
              <select id="type" name="type">
                <option value="1">Caissier Admin</option>
                <option value="2">Caissier</option>
                <option value="3">Serveur</option>
              </select>
    
              <input type="submit" value="Ajouter">
            </form>
            <script>

              document.getElementById("password").value = "";
          </script>
          {% endif %}
<!-------------------------------------------------------------------------------------------------------------------->
<script>
  var users = [];

      
  $('#user-list li').each(function() {
          users.push($(this).text());
      });
      // do something with the list of users
        
  

const form = document.getElementById("user-form");
  const nameInput = document.getElementById("name");
  const passwordInput = document.getElementById("password");
  const confirmPasswordInput = document.getElementById("confirm-password");
  const confirmPasswordError = document.getElementById("confirm-password-error");
  const name_error = document.getElementById("name-error");
  
//-------------------------------------------------------------------------
function checkPasswords() {
  if (passwordInput.value !== confirmPasswordInput.value) {
    confirmPasswordError.textContent = "Passwords do not match";
  } else {
    confirmPasswordError.textContent = "";
  }
}
confirmPasswordInput.addEventListener("input", checkPasswords);
//-------------------------------------------------------------------------

function validateForm() {
let isValid = true;
if (confirmPasswordInput.value.trim()  != passwordInput.value.trim()) {
confirmPasswordError.textContent = "Confirm Password is incompatible";
isValid = false;

}

// Return true if the form is valid, false otherwise
name_error.textContent=""
for (let i = 0; i < users.length; i++) {
  if (nameInput.value == users[i]) {

      isValid=false;
      name_error.textContent="this user is already ecxiste"
      break;
  }
  
  
}

return isValid;
}

// Add event listener to the form's submit event
form.addEventListener("submit", (event) => {
if (!validateForm()) {
event.preventDefault(); // prevent form submission if validation fails
}
});

// Add event listener to the confirm password field's input event

</script>
{% endblock body %}
