{% extends 'base.html'%}
{% load static %}

{% block header%}
      <link rel="stylesheet" href="{% static 'ajoutereditercomm.css' %}">
{% endblock header%}

{% block title %}{{pageType}}{% endblock title %}

{% block body%}
<div class="mainCont">
    <div class="leftCont">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
          <div class="prodList">
            {% for prod in prods %}
                    <div class="prod">
                        <img src="{{prod.img}}" alt="">
                        <p class="prodname">{{prod.prodName}}</p>
                        <p class="prodprice">{{prod.prodPrix}}DA</p>
                        <button class="btn btn-info" id="addprod" value="{{prod.id}}" onclick="addProd(this.value)">ajouter</button>
                    </div>
            {% endfor %}
          </div>
    </div><!--  if prod is not there then create for js -->
    <div class="rightCont">
      <div class="addedProds" id="RprodList">
        {% if pageType == "Editer Command" %}
            <div class="Prod">
            
              {% for prod in comm.prods.all %}
                <img src="{{prod.img}}" alt="">
                <p class="prodname">{{prod.prodName}}</p>
                <p class="prodprice">{{prod.prodPrix}}DA</p>
              {% endfor %}  
              
            </div>
        {% endif %}
          <form method="post" id="commForm" hidden >{% csrf_token %}
            <input type="submit" name="confEdit" value="{{comm.id}}" id="confEditBtn">
          </form>
      </div>

    </div>
</div>
<div class="text-center"><button class="btn btn-success" id="triggerConfBtn" onclick="confClckTr()">Confirme</button></div>


<script>
  function addProd(prodId){
    RightCont = document.getElementById("RprodList");
    const prod = document.createElement("div");
    prod.classList.add("prod");
    pTest = document.createElement('p');
    pText = document.createTextNode(prodId);
    pTest.appendChild(pText);
    prod.appendChild(pTest);
    RightCont.appendChild(prod);

    //---------------formHandle---------
    form = document.getElementById("commForm");
    input = document.createElement('input');
    input.setAttribute('name','newProd');
    input.setAttribute('value',prodId);
    form.appendChild(input);
  }

  function confClckTr(){
    submitBtn = document.getElementById("confEditBtn");
    submitBtn.click();
  }
</script>
{% endblock body%}
