<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caisserAdminWorking</title>
</head>
<body> -->
    {% extends 'base.html'%}
    {% block body%}
    </br>
    <span >
      
      
      <button class="btn btn-primary" type="submit" name="button_ajouter" >historique</button>
      <button class="btn btn-primary" type="submit" name="button_ajouter" > éditer produit</button>
    
    </span>
    
    </br>
    <table class="table table-hover table-striped" id="widget">
        <thead>
          <tr>
            <th scope="col"># Table</th>
            <th scope="col">date saisie</th>
            <th scope="col">prix</th>
        </tr>
        </thead>
               
                
                  {% for command in commands %}
                  {% if command.encaisser is False %}
                  <tbody  >
                    
                    <tr id="commTr_{{command.id}}">
                      <th scope="row">{{command.tableNum}}</th>
                      <td>{{command.dateComm}} </td> <!--hab nkheli ghir lw9t w nhar-->
                      <td>{{command.commPrice}}</td>

                      <td><form method="post" action="editer-command">{% csrf_token %}
                          <button class="btn btn-warning" type="submit" name="edit" value={{command.id}}>Editer</button>
                          </form>
                      </td>
                      <td>
                        
                          <button class="btn btn-primary process-button"  name="encaissment" value={{command.id}} onclick="removeComm(this)">Encaisser</button>
                         
                      </td>
                    </tr>
                
                  </tbody>
                  {% endif %}
                  {% endfor %}
                
                
         
      </table>
      <a href="ajouter-command"><button class="btn btn-primary" type="submit" name="button_ajouter" >ajouter commande</button></a>
      <script>
        const container = document.querySelector('#widget');
        
       /*  const buttons = document.querySelectorAll('.process-button');
        buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            const id =button.getAttribute('value');
             executeFunction(id);   
             
          }); }); */
        
          container.addEventListener('click', function(event) {
          const target = event.target;
          if (target.matches('.process-button')) {
            const id = target.value;
            executeFunction(id);
          }
        });

        function executeFunction(id) {
         
       
          $.ajax({
          type: 'POST',
          url: '/apply_function',
          data: {
            'id': id,
         },
          success: function(response) {
        console.log("Data was sent successfully. age:",response.ages );
             updateWidget(response.commands); 
            
            
      },
      error: function(xhr, textStatus, errorThrown) {
        console.log("Error sending data:", errorThrown);
      }
        });


    }
    function removeComm(obj){
        document.getElementById("commTr_"+obj.value).remove();
    };
        
     </script>

      {% endblock body%}
<!-- </body>
</html> -->