{% extends 'base.html'%}
{% load static %}

{% block header%}
      <link rel="stylesheet" href="{% static 'login.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock header%}
{% block title%}
  Login
{% endblock title%}
{% block body %}
<form  method="post">{% csrf_token %}
  

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Nom Utilisateur" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Mot de Pass" name="psw" required>
        
    <button type="submit" name="login">Login</button>
    
  </div>

  
</form>

{% endblock body %}
