{% extends 'base.html'%}
{% load static %}
{% block header%}
  <link rel="stylesheet" href="{% static 'caissier.css' %}">
{% endblock header%}
{% block title %} Serveur {% endblock title %}
{% block body%}
<div class="tableDiv">
    <table class="table table-hover table-striped" id="commTable">
        <thead>
        <tr>
            <th scope="col"># Table</th>
            <th scope="col">plats</th>
            <th scope="col">date saisie</th>
            <th scope="col">prix</th>
        </tr>
        </thead>
        {% for command in commands %}
        {% if command.encaisser is False %}
        <tbody>
        <tr>
            <th scope="row">{{command.tableNum}}</th>
            <td>{%for prod in command.prods.all%}
                    {{prod.prodName}},  
                {% endfor %}
            </td>
            <td>{{command.dateComm}}</td>
            <td>{{command.commPrice}}</td>

            <td><form method="post" action="editer-command">{% csrf_token %}
                <button class="btn btn-warning" type="submit" name="edit" value={{command.id}}>Editer</button>
                </form>
            </td>
        </tr>
        
        </tbody>
        {% endfor %}
    </table>
</div>
  <div class="text-center"><a href="ajouter-command"><button class="btn btn-success" type="submit" name="ajouterCommand" >Ajouter Commande</button></a></div>

  <script>
    const container = document.querySelector('#widget');
    
   /*  const buttons = document.querySelectorAll('.process-button');
    buttons.forEach(function(button) {
    button.addEventListener('click', function() {
        const id =button.getAttribute('value');
         executeFunction(id);   
         
      }); }); */
    
      container.addEventListener('click', function(event) {
      const target = event.target;
      if (target.matches('.process-button')) {
        const id = target.value;
        executeFunction(id);
      }
    });

    function executeFunction(id) {
     
   
      $.ajax({
      type: 'POST',
      url: '/apply_function',
      data: {
        'id': id,
     },
      success: function(response) {
    console.log("Data was sent successfully. age:",response.ages );
         updateWidget(response.commands); 
        
        
  },
  error: function(xhr, textStatus, errorThrown) {
    console.log("Error sending data:", errorThrown);
  }
    });


}
function removeComm(obj){
    document.getElementById("commTr_"+obj.value).remove();
};
    
 </script>
  {% endblock body%}
<!-- </body>
</html> -->